<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">

    @if (humidityVm$ | async; as hum) {
    <app-status-card [data]="hum" />
    } @else {
    <ng-container [ngTemplateOutlet]="cardSkeleton" />
    }

    @if (pressureVm$ | async; as pressure) {
    <app-status-card [data]="pressure" />
    } @else {
    <ng-container [ngTemplateOutlet]="cardSkeleton" />
    }

    @if (co2Vm$ | async; as co2) {
    <app-status-card [data]="co2" />
    } @else {
    <ng-container [ngTemplateOutlet]="cardSkeleton" />
    }

    <!-- Dynamische kaarten -->
    @if (cardsVm$ | async; as dynamicCards) {
    <ng-container *ngFor="let card of dynamicCards">
        <app-status-card [data]="card"></app-status-card>
    </ng-container>
    } @else {
    <ng-container *ngFor="let _ of [1,2,3,4]">
        <ng-container [ngTemplateOutlet]="cardSkeleton"></ng-container>
    </ng-container>
    }

</div>

<ng-template #cardSkeleton>
    <div class="bg-white dark:bg-gray-800
              flex flex-col rounded-2xl p-6 shadow
              animate-pulse space-y-4">
        <div class="h-6 w-3/4 bg-gray-200 dark:bg-gray-700 rounded"></div>
        <div class="h-16 sm:h-20 w-full bg-gray-200 dark:bg-gray-700 rounded"></div>
        <div class="h-5 w-1/2 bg-gray-300 dark:bg-gray-600 rounded"></div>
    </div>
</ng-template>